<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="contenido user-navbar bg-primary">
                <h1>Hasta luego <span id="contenedorNombreDeUsuario"></span></h1>
                <small class="text-white">Serás redireccionado en 2 segundos...</small>
            </div>
        </div>
    </div>
</div>