<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="contenido">
                <h3>Lista de Productos Aleatorios</h3>

                <table class="table table-dark table-borderless align-middle">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Foto</th>
                        </tr>
                    </thead>
                    <tbody id="contenedorProductos">
                        {{#each arrayProductosAleatorios}}
                        <tr>
                            <td>{{this.title}}</td>
                            <td>{{this.price}}</td>
                            <td><img src="{{this.thumbnail}}" class="thumbnail"></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>