<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="contenido">
                <h2>Login de Usuario</h2>

                <form id="formLogin">
                    <label for="user" class="form-label">Ingrese su nombre</label>
                    <input type="text" id="user" name="title" class="form-control" placeholder="Nombre" required>

                    <input type="submit" class="btn btn-success" value="Enviar">
                </form>
            </div>
        </div>
    </div>
</div>